<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>Chapter Number</key>
          <string>8</string>
          <key>Chapter Title</key>
          <string>Periodontolgy</string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>No questions found in this chapter</string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
</array>
</plist>