<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>1</string>
          <key>Question Title</key>
          <string>All of the forms of energy comprising the electromagnetic family behave similarly EXCEPT for which characteristic: </string>
          <key>a</key>
          <string>All cause ionization of tissues.</string>
          <key>b</key>
          <string>All can produce &quot;shadows.”</string>
          <key>c</key>
          <string>All travel in straight lines. </string>
          <key>d</key>
          <string>All travel at the speed of light.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>Only x-rays have the energy to displace atoms’ electrons and cause ionization.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>2</string>
          <key>Question Title</key>
          <string>How many impulses equal a 1/4 second exposure time?</string>
          <key>a</key>
          <string>6 impulses.</string>
          <key>b</key>
          <string>10 impulses.</string>
          <key>c</key>
          <string>15 impulses.</string>
          <key>d</key>
          <string>20 impulses.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>AC current reverses 60 times per second creating 60 x-ray impulses per second. </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>3</string>
          <key>Question Title</key>
          <string>X-rays are generated when a stream of electrons traveling from one side of an x-ray tube is suddenly stopped by its impact on the:</string>
          <key>a</key>
          <string>Filament cup. </string>
          <key>b</key>
          <string>Tungsten target of the anode.</string>
          <key>c</key>
          <string>Tungsten target of the cathode.</string>
          <key>d</key>
          <string>The aluminum ﬁlter.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>A ‘cathode ray tube’ bombards the anode target to produce x-rays.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>4</string>
          <key>Question Title</key>
          <string>As you go from a “D-speed” to an “E-speed” ﬁlm, the exposure time should be approximately:</string>
          <key>a</key>
          <string>Doubled.</string>
          <key>b</key>
          <string>Halved.</string>
          <key>c</key>
          <string>Cut to one-fourth of the original time.</string>
          <key>d</key>
          <string>Tripled.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>Film speed doubles with each ‘letter-named’ ﬁlm group, thus needing half the exposure energy.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>5</string>
          <key>Question Title</key>
          <string>Which of the following reduces the percentage of low energy x-rays in the beam?</string>
          <key>a</key>
          <string>Collimation.</string>
          <key>b</key>
          <string>Aluminum ﬁltration.</string>
          <key>c</key>
          <string>Milliamperage.</string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>Aluminum selectively absorbs the weaker (long wavelength) x-rays.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>6</string>
          <key>Question Title</key>
          <string>The mean penetrability of an x-ray beam is related to all in the list below except:</string>
          <key>a</key>
          <string>kVp</string>
          <key>b</key>
          <string>Filtration.</string>
          <key>c</key>
          <string>Wavelength.</string>
          <key>d</key>
          <string>mA</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>mA only aﬀects the number of x-rays but has no eﬀect on x-ray wavelength (penetration).</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>7</string>
          <key>Question Title</key>
          <string>If a radiology technician received a dose of 3 Sieverts standing 4 feet from the source of radiation during an exposure, how many Sieverts would be receive during the same exposure standing 2 feet away?</string>
          <key>a</key>
          <string>1.5 sieverts.</string>
          <key>b</key>
          <string>6 sieverts.</string>
          <key>c</key>
          <string>2 sieverts.</string>
          <key>d</key>
          <string>27 sieverts.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>The inverse square rule dictates that the energy of the beam increases or decreases by a “square of the distance change factor”. The technician moved from 4 feet to 2 feet (twice as close). Therefore, the original dose (3 Sieverts) is multiplied by the square of 2 (2 X 2 = 4). Thus, the dose standing twice as close is now12 Sieverts.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>8</string>
          <key>Question Title</key>
          <string>The x-ray beam is rendered more safe by Aluminum ﬁltration.</string>
          <key>a</key>
          <string>True.</string>
          <key>b</key>
          <string>False.</string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>Aluminum ﬁlters out the weaker and more hazardous longer wavelength photons which are absorbed by the soft tissues.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>9</string>
          <key>Question Title</key>
          <string>For optimal detection of incipient interproximal carious lesions (high contrast), which of the following machine settings is preferable?</string>
          <key>a</key>
          <string>90 kVp, 5 mA</string>
          <key>b</key>
          <string>85 kVp, 10 mA</string>
          <key>c</key>
          <string>75 kVp, 5 mA</string>
          <key>d</key>
          <string>65 kVp, 10 mA</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>A lower kVp produces a shorter scale (high contrast) image. Contrast is not aﬀected by mA settings.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>10</string>
          <key>Question Title</key>
          <string>Which of the following factors control the quality of the x-ray beam and thus, ﬁlm contrast? </string>
          <key>a</key>
          <string>Exposure time.</string>
          <key>b</key>
          <string>Aluminum ﬁltration.</string>
          <key>c</key>
          <string>mA</string>
          <key>d</key>
          <string>Distance.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>Only kVp and Aluminum aﬀect beam quality (penetrating properties).</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>11</string>
          <key>Question Title</key>
          <string>If a machine operates with good radiographic density at a setting of 20 mA and 12 impulses, what exposure time (in impulses) should be used if the machine is changed to 10mA?</string>
          <key>a</key>
          <string>120 impulses.</string>
          <key>b</key>
          <string>90 impulses.</string>
          <key>c</key>
          <string>24 impulses.</string>
          <key>d</key>
          <string>2 impulses.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>mA and exposure time are equal in eﬀect mathematically on ﬁlm density, (20mA X 12 time = 240) (10mA X 24 time = 240). Formula works with either seconds or impulses.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>12</string>
          <key>Question Title</key>
          <string>Increasing the kVp results in:</string>
          <key>a</key>
          <string>A long scale of contrast.</string>
          <key>b</key>
          <string>A short scale of contrast.</string>
          <key>c</key>
          <string>Neither, it would have no eﬀect.</string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>Increased kVp or Aluminum result in a longer scale of contrast (more shades of gray).</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>13</string>
          <key>Question Title</key>
          <string>Image magniﬁcation results from decreased:</string>
          <key>a</key>
          <string>Target size.</string>
          <key>b</key>
          <string>Target-ﬁlm-distance (tfd).</string>
          <key>c</key>
          <string>Object-ﬁlm-distance (ofd).</string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>Shadow-casting rules state that a decreased target size and short object-ﬁlm-distances favor image sharpness and reduce magniﬁcation. A greater target-ﬁlm distance (long-cone) is desirable to insure sharpness and to reduce magniﬁcation.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>14</string>
          <key>Question Title</key>
          <string>Occlusal radiographs are taken using which size ﬁlm?</string>
          <key>a</key>
          <string>#1.</string>
          <key>b</key>
          <string>#2.</string>
          <key>c</key>
          <string>#3.</string>
          <key>d</key>
          <string>#4.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>Film sizes: Pedo (#0), Adult anterior (#1), Adult posterior periapical and bitewing (#2), Adult larger bitewing (#3), Occlucal (#4).</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>15</string>
          <key>Question Title</key>
          <string>Exposure time and mA control:</string>
          <key>a</key>
          <string>Quality of the beam.</string>
          <key>b</key>
          <string>Photon wavelength.</string>
          <key>c</key>
          <string>Number of x-rays produced.</string>
          <key>d</key>
          <string>Cross section of the beam.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>mA and exposure time only aﬀect the number of x-ray photons (quantity).</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>16</string>
          <key>Question Title</key>
          <string>GBX II ﬁlters are needed for extraoral (panoramic) radiographs due to:</string>
          <key>a</key>
          <string>Double emulsion on ﬁlm. </string>
          <key>b</key>
          <string>Thicker emulsion.</string>
          <key>c</key>
          <string>Larger ﬁlm surface area.</string>
          <key>d</key>
          <string>ﬁlm is more sensitive to visible light.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>Panoramic, and all extraoral ﬁlms, use cassettes with intensifying screens which create light to expose the ﬁlms. Therefore, they are made to be more sensitive to light than x-rays. The GBX II is safe for ALL dental x-ray ﬁlm.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>17</string>
          <key>Question Title</key>
          <string>The optimum operating temperature for dental automatic processors is:</string>
          <key>a</key>
          <string>68° F</string>
          <key>b</key>
          <string>82° F</string>
          <key>c</key>
          <string>95° F</string>
          <key>d</key>
          <string>100° F</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>Automatic processor chemicals are made to work faster and at higher temperatures (82 degrees) than manual processors (68 degrees). </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>18</string>
          <key>Question Title</key>
          <string>The primary purpose of sodium thiosulfate is to:</string>
          <key>a</key>
          <string>Soften the emulsion.</string>
          <key>b</key>
          <string>Llow further blackening of the ﬁlm. </string>
          <key>c</key>
          <string>Remove the silver bromide crystals that have been developed.</string>
          <key>d</key>
          <string>Remove the silver bromide crystals that have not been developed.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>Sodium Thiosulfate, the main ingredient of ﬁxer dissolves all unexposed (or undeveloped) silver (black) crystals. It will also clear a ﬁlm that was not exposed or was properly exposed but placed into the ﬁxer before the developer.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>19</string>
          <key>Question Title</key>
          <string>Films not ﬁxed for a long enough period of time will appear:</string>
          <key>a</key>
          <string>To have black lines running through them.</string>
          <key>b</key>
          <string>To be brittle.</string>
          <key>c</key>
          <string>To have a brown tint.</string>
          <key>d</key>
          <string>White.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>The ﬁxer also produces an archival quality preventing brown discoloration.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>20</string>
          <key>Question Title</key>
          <string>For reducing scatter radiation, the radiation beam at the patient’s face should not exceed:</string>
          <key>a</key>
          <string>2.75 inches.</string>
          <key>b</key>
          <string>3.0 inches.</string>
          <key>c</key>
          <string>3.5 inches.</string>
          <key>d</key>
          <string>3.75 inches.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A</string>
          <key>rationale</key>
          <string>This is a federal safety standard adhered to by all manufacturers.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>21</string>
          <key>Question Title</key>
          <string>The minimum total aluminum ﬁltration on a dental x-ray machine capable of operating at 70 kVp and above is: </string>
          <key>a</key>
          <string>2.0 mm. Al</string>
          <key>b</key>
          <string>2.5 mm. Al</string>
          <key>c</key>
          <string>2.75 mm. Al</string>
          <key>d</key>
          <string>3.00 mm. Al</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>This is a federal safety standard adhered to by all manufacturers.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>22</string>
          <key>Question Title</key>
          <string>According to the NCRP, the maximum amount of radiation an occupationally exposed person may receive in one year is: </string>
          <key>a</key>
          <string>5 Sv</string>
          <key>b</key>
          <string>1 mSv</string>
          <key>c</key>
          <string>4 mSv</string>
          <key>d</key>
          <string>.05 sV</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>Sensitive tissues have a rapid mitotic rate and immature cell morphology.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>23</string>
          <key>Question Title</key>
          <string>According to the NCRP, the maximum amount of radiation an occupationally exposed person may receive in one week is: </string>
          <key>a</key>
          <string>50 rem.</string>
          <key>b</key>
          <string>5 rem.</string>
          <key>c</key>
          <string>100 mrem.</string>
          <key>d</key>
          <string>10 mrem.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>This is a federal safety standard and is roughly equal to the yearly MPD divided by 52. Sievert is the newer (international) terminology for rem.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>24</string>
          <key>Question Title</key>
          <string>If an operator can stand 6 feet or more away from the source of radiation scatter and out of the primary beam, no barrier wall is necessary.</string>
          <key>a</key>
          <string>True.</string>
          <key>b</key>
          <string>False.</string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>This is a federal safety standard.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>25</string>
          <key>Question Title</key>
          <string>If a person who works with radiation and wears a ﬁlm badge or dosimeter and has radiographs taken on themselves as a patient, what should be done with the dosimeter during exposure? </string>
          <key>a</key>
          <string>Wear the badge during exposure to record how much dosage they received.</string>
          <key>b</key>
          <string>Wear the badge, but keep it under the lead apron.</string>
          <key>c</key>
          <string>Leave the badge outside of the room.</string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>There is no MPD for exposures as a patient.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>26</string>
          <key>Question Title</key>
          <string>A radiolucency with a calciﬁcation at the apex of a vital root tip is:</string>
          <key>a</key>
          <string>A traumatic bone cyst.</string>
          <key>b</key>
          <string>Benign cemmental dysplasia (cemmentoma).</string>
          <key>c</key>
          <string>Osteogenic sarcoma.</string>
          <key>d</key>
          <string>Condensing osteitis.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>Benign cemmental dysplasia often appears at the apex of multiple lower incisors but involves vital teeth with no treatment required.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>27</string>
          <key>Question Title</key>
          <string>What is the proper thickness of the lead lining in radiographic lead aprons?</string>
          <key>a</key>
          <string>0.1 mm equivalent.</string>
          <key>b</key>
          <string>0.25 mm equivalent.</string>
          <key>c</key>
          <string>1.0 mm equivalent.</string>
          <key>d</key>
          <string>2.5 mm equivalent. </string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>This is a federal standard adhered to by all U.S. manufacturers.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>28</string>
          <key>Question Title</key>
          <string>Intensifying screens in panoramic cassettes are necessary to:</string>
          <key>a</key>
          <string>Increase sharpness.</string>
          <key>b</key>
          <string>Decrease magniﬁcation.</string>
          <key>c</key>
          <string>Increase ﬁlm detail.</string>
          <key>d</key>
          <string>Reduce patient exposure.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>More radiation to the patient would be required if intensifying screens were not utilized in the exposure of extraoral (panoramic and cephalometric) radiographs.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>29</string>
          <key>Question Title</key>
          <string>A ﬁlm that has turned brown after the span of one year may have resulted from:</string>
          <key>a</key>
          <string>Insuﬃcient wash.</string>
          <key>b</key>
          <string>Extremely high developer temperature.</string>
          <key>c</key>
          <string>ﬁxing before developing.</string>
          <key>d</key>
          <string>The radiograph has simply aged and turned with time and is normal.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>Films of good quality immediately after processing may turn brown over time if not washed suﬃciently after ﬁxation.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>30</string>
          <key>Question Title</key>
          <string>What is the most radiolucent dental material seen on dental radiographs?</string>
          <key>a</key>
          <string>Acrylic.</string>
          <key>b</key>
          <string>Gutta percha.</string>
          <key>c</key>
          <string>Amalgam.</string>
          <key>d</key>
          <string>Aluminum temporary crowns.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>Acrylic is virtually invisible in radiographic images.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>31</string>
          <key>Question Title</key>
          <string>What is the earliest clinical sign of an over-exposure to x-radiation?</string>
          <key>a</key>
          <string>Loss of hair.</string>
          <key>b</key>
          <string>Breakage of chromosome bonds.</string>
          <key>c</key>
          <string>Mucosal sloughing.</string>
          <key>d</key>
          <string>Erythema.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>Erythema is a reddening of the skin and is the earliest clinical sign of over-exposure to humans.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>32</string>
          <key>Question Title</key>
          <string>Cell sensitivity to radiation is most pronounced except:</string>
          <key>a</key>
          <string>During mitosis.</string>
          <key>b</key>
          <string>During periods of increased metabolism.</string>
          <key>c</key>
          <string>During embryonic development.</string>
          <key>d</key>
          <string>In mature bone.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>Tissues with slow mitotic rates are less sensitive to radiation eﬀects (damage).</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>33</string>
          <key>Question Title</key>
          <string>Tissue damage increases with decreased:</string>
          <key>a</key>
          <string>Exposure dose.</string>
          <key>b</key>
          <string>Body coverage.</string>
          <key>c</key>
          <string>Cell diﬀerentiation.</string>
          <key>d</key>
          <string>Mitotic rate.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>Tissues with decreased cell diﬀerentiation exhibit a high sensitivity to x-rays. Decreased dose and body volume exposed decreases the damage which will occur from x-radiation.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>34</string>
          <key>Question Title</key>
          <string>What is the eﬀect of excessive vertical angulation?</string>
          <key>a</key>
          <string>Foreshortening.</string>
          <key>b</key>
          <string>Elongation.</string>
          <key>c</key>
          <string>Overlap.</string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>Insuﬃcient vertical angulation or curved ﬁlms create elongation of the tooth image.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>35</string>
          <key>Question Title</key>
          <string>In the bisecting-the-angle technique, the central ray is directed perpendicular to:</string>
          <key>a</key>
          <string>The ﬁlm.</string>
          <key>b</key>
          <string>The long axis of the tooth.</string>
          <key>c</key>
          <string>An imaginary line bisecting the ﬁlm and long axis of the tooth.</string>
          <key>d</key>
          <string>The patient’s frankford plane.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>The beam is directed perpendicular to a plane of equal distance to the ﬁlm plane and the long axis of the tooth (bisector).</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>36</string>
          <key>Question Title</key>
          <string>A panoramic image with a &apos;jack-o-lantern&apos; or extreme smile results from:</string>
          <key>a</key>
          <string>Chin too low.</string>
          <key>b</key>
          <string>Chin too high.</string>
          <key>c</key>
          <string>Patient placed too far anteriorly.</string>
          <key>d</key>
          <string>Patient placed too far posteriorly.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>Placing the chin too high results in a ﬂat or reversed plane of occlusion. Placing the chin too low results in an excessively curved plane of occlusion.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>37</string>
          <key>Question Title</key>
          <string>Bisecting-the angle can often lead to: </string>
          <key>a</key>
          <string>Elongation.</string>
          <key>b</key>
          <string>Overlap.</string>
          <key>c</key>
          <string>Film fog.</string>
          <key>d</key>
          <string>Foreshortening.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>Aiming the beam at an imaginary bisector between the ﬁlm and tooth often results in a vertical beam angulation which is too step and results in a tooth image which is shorter than the actual tooth length.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>9</string>
          <key>Chapter Title</key>
          <string>Ch 9. Radiology</string>
          <key>Question Number</key>
          <string>38</string>
          <key>Question Title</key>
          <string>All can create ﬁlm fog EXCEPT:</string>
          <key>a</key>
          <string>Light leaks.</string>
          <key>b</key>
          <string>Proper refrigeration.</string>
          <key>c</key>
          <string>Chemistry which is too hot.</string>
          <key>d</key>
          <string>Faulty safelight.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>Excess extraneous energy to the ﬁlm before exposure or during early stages of processing produces ﬁlm fogging (overlying) of the image making diagnostic conclusions diﬃcult.</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string></string>
          <key>Chapter Title</key>
          <string></string>
          <key>Question Number</key>
          <string></string>
          <key>Question Title</key>
          <string></string>
          <key>a</key>
          <string></string>
          <key>b</key>
          <string></string>
          <key>c</key>
          <string></string>
          <key>d</key>
          <string></string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string></string>
          <key>rationale</key>
          <string></string>
    </dict>
</array>
</plist>