<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>1</string>
          <key>Question Title</key>
          <string>The ﬂoor of the mouth and the tongue receive their blood supply by the way of the: </string>
          <key>a</key>
          <string>Facial artery.</string>
          <key>b</key>
          <string>Lingual artery.</string>
          <key>c</key>
          <string>Maxillary artery.</string>
          <key>d</key>
          <string>Internal carotid artery.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a-the facial artery supplies facial structures, such as the muscles of facial expressionc-  c- the maxillary artery supplies the muscles of mastication 
d-  the internal carotid artery supplies the skull, eye and brain</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>2</string>
          <key>Question Title</key>
          <string>The insertion of the buccinator muscle includes the:</string>
          <key>a</key>
          <string>Pterygomandibular raphe.</string>
          <key>b</key>
          <string>Zygomatic process of the maxilla.</string>
          <key>c</key>
          <string>Coronoid process of the mandible.</string>
          <key>d</key>
          <string>Skin and muscle at the corner of the mouth.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a-  the pterygomandibular raphe is part of the origin of the muscle 
b-  the zygomatic process is not an attachment of the buccinator muscle 
c-  the coronoid process is not an attachment of the buccinator muscle </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>3</string>
          <key>Question Title</key>
          <string>What is the origin of “rests of Malassez”?</string>
          <key>a</key>
          <string>Junctional epithelium.</string>
          <key>b</key>
          <string>Reduced enamel epithelium.</string>
          <key>c</key>
          <string>Hertwig’s epithelial root sheath.</string>
          <key>d</key>
          <string>Cementoblasts in the periodontal ligament.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>a-  the junctional epithelium is a deep extension of the epithelium of the sulcus 
b-  the reduced enamel epithelium is the 4 compressed layers of the enamel organ d-Cementoblasts produce cementum matrix </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>4</string>
          <key>Question Title</key>
          <string>What is the lymph drainage for the tip of the tongue?</string>
          <key>a</key>
          <string>Submental to parotid to deep cervical.</string>
          <key>b</key>
          <string>Submandibular to facial to deep cervical.</string>
          <key>c</key>
          <string>Submandibular to parotid to deep cervical.</string>
          <key>d</key>
          <string>Submental to submandibular to deep cervical.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a-  the parotid area is not in the pathway of tongue lymphatic drainage 
b-  the facial area is not in the pathway of tongue lymphatic drainage 
c-  the lymphatic ﬂuid from the tongue drains to the submental region before the submandibular region</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>5</string>
          <key>Question Title</key>
          <string>Which of the following tissues derive from ectoderm?</string>
          <key>a</key>
          <string>Bone.</string>
          <key>b</key>
          <string>Nervous tissue.</string>
          <key>c</key>
          <string>Dentin and pulp.</string>
          <key>d</key>
          <string>Chewing muscles.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- bone components may derive from mesoderm or neural crest cells c- dentin and pulp derive from ectomesenchyme 
d-  muscles derive from mesoderm </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>6</string>
          <key>Question Title</key>
          <string>Which of the following arteries carries deoxygenated blood?</string>
          <key>a</key>
          <string>Renal.</string>
          <key>b</key>
          <string>Aorta.</string>
          <key>c</key>
          <string>Hepatic.</string>
          <key>d</key>
          <string>Pulmonary.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a, b, and c- most arteries in the body carry oxygenated blood</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>7</string>
          <key>Question Title</key>
          <string>Air exchange takes place in which of the following? </string>
          <key>a</key>
          <string>Alveoli.</string>
          <key>b</key>
          <string>Venioles.</string>
          <key>c</key>
          <string>Arterioles.</string>
          <key>d</key>
          <string>Ll of the above.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>b-  venioles carry deoxygenated blood 
c-  arterioles carry oxygenated blood 
d-  alveoli of the lungs are the site of gas exchange</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>8</string>
          <key>Question Title</key>
          <string>The degree of mineralization of normal cementum is approximately that of:</string>
          <key>a</key>
          <string>Bone.</string>
          <key>b</key>
          <string>Dentin.</string>
          <key>c</key>
          <string>Enamel.</string>
          <key>d</key>
          <string>Cartilage.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>b-  dentin is approximately 70% mineralized 
c-  enamel is approximately 96% mineralized 
d-  cartilage is not normally mineralized </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>9</string>
          <key>Question Title</key>
          <string>The mitral valve separates the:</string>
          <key>a</key>
          <string>Left atrium from the aorta.</string>
          <key>b</key>
          <string>Left atrium from the left ventricle.</string>
          <key>c</key>
          <string>Right atrium from the right ventricle.</string>
          <key>d</key>
          <string>Left atrium from the pulmonary vein.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- blood does not ﬂow directly from the left atrium to the aorta c-  the tricuspid valve regulates the ﬂow of blood between the right atrium and ventricle 
d-  the pulmonary veins return oxygenated blood to the left atrium </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>10</string>
          <key>Question Title</key>
          <string>Which of the following exits from the foramen rotundum?</string>
          <key>a</key>
          <string>Inferior alveolar nerve.</string>
          <key>b</key>
          <string>Maxillary division of trigeminal nerve.</string>
          <key>c</key>
          <string>Ophthalmic division of trigeminal nerve.</string>
          <key>d</key>
          <string>Mandibular division of trigeminal nerve.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- the inferior alveolar nerve is found in the mandibular foramen and mandibular canal c-  the ophthalmic division exits through the superior orbital ﬁssure 
d-  the mandibular division exits through the foramen ovale </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>11</string>
          <key>Question Title</key>
          <string>Where are von Ebner&apos;s glands located?</string>
          <key>a</key>
          <string>In submucosa of the pharynx.</string>
          <key>b</key>
          <string>In the submucosa of the cheek.</string>
          <key>c</key>
          <string>Beneath the ﬂoor of the mouth.</string>
          <key>d</key>
          <string>Beneath circumvallate papillae in the tongue.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a-  Ebner’s glands are found on the tongue 
b-  glands in the cheek are called “buccal” glands 
c-  glands in the ﬂoor of the mouth are sublingual glands</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>12</string>
          <key>Question Title</key>
          <string>Which gland secretes serous saliva ONLY? </string>
          <key>a</key>
          <string>Thyroid.</string>
          <key>b</key>
          <string>Parotid.</string>
          <key>c</key>
          <string>Sublingual.</string>
          <key>d</key>
          <string>Submandibular.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- the thyroid gland does not produce saliva c-  the sublingual gland produces a mixed secretion 
d-  the submandibular gland produces a mixed secretion</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>13</string>
          <key>Question Title</key>
          <string>Which of the following parts of a root has the thickest layer of cementum?</string>
          <key>a</key>
          <string>Apical third of root.</string>
          <key>b</key>
          <string>Middle third of root.</string>
          <key>c</key>
          <string>Coronal third of root.</string>
          <key>d</key>
          <string>Exposed root surface.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>b-  the middle third usually has a moderate layer of cementum 
c-  the coronal third has the thinnest layer of cementum 
d-  exposed root surface is near the cervical, and has a thin layer that can be removed</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>14</string>
          <key>Question Title</key>
          <string>The nasopalatine nerve enters the oral cavity by the way of the:</string>
          <key>a</key>
          <string>Lesser palatine.</string>
          <key>b</key>
          <string>Mental foramen.</string>
          <key>c</key>
          <string>Incisive foramen.</string>
          <key>d</key>
          <string>Sphenopalatine foramen.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>a-  the lesser palatine nerve is transmitted by the lesser palatine foramen 
b-  the mental nerve is found in the mental foramen of the mandible d- the sphenopalatine foramen contains the sphenopalatine artery </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>15</string>
          <key>Question Title</key>
          <string>Pain impulses from the periodontal ligament are carried by which of the following cranial nerves? </string>
          <key>a</key>
          <string>I.</string>
          <key>b</key>
          <string>V.</string>
          <key>c</key>
          <string>III.</string>
          <key>d</key>
          <string>VII.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- the olfactory nerve (I) is responsible for the sense of smell c-  the oculomotor nerve (III) is a motor nerve to muscles of the eye 
d-  the facial nerve (VII) is the motor nerve to the facial muscles </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>16</string>
          <key>Question Title</key>
          <string>Histologically, gingival epithelium most closely resembles epithelium of the:</string>
          <key>a</key>
          <string>Soft palate.</string>
          <key>b</key>
          <string>Hard palate.</string>
          <key>c</key>
          <string>Vestibular mucosa.</string>
          <key>d</key>
          <string>Vermillion border of the lips.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- the soft palate is nonkeratinized c-  the vestibular mucosa is nonkeratinized 
d-  the vermillion border of the lips is where the skin meets nonkeratinized labial mucosa</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>17</string>
          <key>Question Title</key>
          <string>Name the sensory nerve to the mandibular posterior teeth.</string>
          <key>a</key>
          <string>Mental.</string>
          <key>b</key>
          <string>Buccal.</string>
          <key>c</key>
          <string>Incisive.</string>
          <key>d</key>
          <string>Inferior alveolar.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a-  the mental nerve is a sensory nerve to the lower lip, chin and facial gingiva 
b-  the buccal nerve is a sensory nerve to the posterior buccal gingiva 
c-  the incisive nerve is the branch of the inferior alveolar nerve that distributes to the mandibular anterior teeth</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>18</string>
          <key>Question Title</key>
          <string>The hypoglossal nerve supplies the:</string>
          <key>a</key>
          <string>Sublingual gland.</string>
          <key>b</key>
          <string>Muscles of the tongue.</string>
          <key>c</key>
          <string>Mucous membrane of the ﬂoor of the oral cavity.</string>
          <key>d</key>
          <string>Mucous membrane of the anterior two-thirds of the tongue.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- the sublingual gland receives parasympathetic supply from a branch of the facial nerve c-  the sensory nerve to the ﬂoor of the mouth area is from the trigeminal nerve 
d-  the sensory nerve to the anterior 2/3 of the tongue is the lingual nerve </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>19</string>
          <key>Question Title</key>
          <string>From where does the cementum gain its nourishment?</string>
          <key>a</key>
          <string>Pulp.</string>
          <key>b</key>
          <string>Odontoblasts.</string>
          <key>c</key>
          <string>Cementocytes.</string>
          <key>d</key>
          <string>Periodontal ligament.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a-  arteries from the pulp are not in proximity to the cementum 
b-  odontoblasts are cells that produce dentin matrix 
c-  Cementocytes are cells found in cementum, they do not supply nourishment</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>20</string>
          <key>Question Title</key>
          <string>Which cell is injured when the tooth overheats during an amalgam preparation?</string>
          <key>a</key>
          <string>Osteocyte.</string>
          <key>b</key>
          <string>Osteoblast.</string>
          <key>c</key>
          <string>Ameloblast.</string>
          <key>d</key>
          <string>Odontoblast.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a-  osteocytes are found in bone, not in tooth tissue 
b-  osteoblasts are cells that produce bone matrix 
c-  ameloblasts produce enamel matrix, then are lost after the tooth erupts</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>21</string>
          <key>Question Title</key>
          <string> Which structure marks the embryonic origin of the thyroid gland?</string>
          <key>a</key>
          <string>Tonsillar pillar.</string>
          <key>b</key>
          <string>Stensen’s duct.</string>
          <key>c</key>
          <string>Foramen ovale.</string>
          <key>d</key>
          <string>Foramen cecum.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a-  the tonsillar pillars are composed of the palatoglossus and palatopharyngeal muscles 
b-  Stensen’s duct carries saliva produced by the parotid gland 
c-  foramen ovale is located in the sphenoid bone and transmits the third division of the trigeminal nerve</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>22</string>
          <key>Question Title</key>
          <string>Which tongue papillae have no taste buds?</string>
          <key>a</key>
          <string>Foliate.</string>
          <key>b</key>
          <string>Filiform.</string>
          <key>c</key>
          <string>Fungiform.</string>
          <key>d</key>
          <string>Circumvallate.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a, b and c- these tongue papillae types are associated with taste buds</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>23</string>
          <key>Question Title</key>
          <string>The hamulus is a landmark of the:</string>
          <key>a</key>
          <string>Hyoid bone.</string>
          <key>b</key>
          <string>Sphenoid bone.</string>
          <key>c</key>
          <string>Temporal bone.</string>
          <key>d</key>
          <string>Maxillary ﬁrst premolar tooth.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- the hamulus is a bump on the medial pterygoid process of the sphenoid bone c-  the temporal bone does not contain the hamulus 
d-  the hamulus is a bony landmark, not found on a tooth</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>24</string>
          <key>Question Title</key>
          <string>The nasopalatine nerve is a branch of which division of the trigeminal nerve?</string>
          <key>a</key>
          <string>Occipital division.</string>
          <key>b</key>
          <string>Maxillary division.</string>
          <key>c</key>
          <string>Ophthalmic division.</string>
          <key>d</key>
          <string>Mandibular division.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- the trigeminal nerve does not have an “occipital” division c-  the ophthalmic division is a sensory nerve near the eye, upper nasal cavity and forehead 
d-  the mandibular division contains branches to the lower teeth, tongue, lip and chin </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>25</string>
          <key>Question Title</key>
          <string>The cells that produce enamel derive from the:</string>
          <key>a</key>
          <string>Stellate reticulum.</string>
          <key>b</key>
          <string>Junctional epithelium.</string>
          <key>c</key>
          <string>Inner enamel epithelium.</string>
          <key>d</key>
          <string>Outer enamel epithelium.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>a-  the stellate reticulum is a layer of the enamel organ, but does not become ameloblasts 
b-  the junctional epithelium is a deep extension of the epithelium of the sulcus d- the outer enamel epithelium is a layer of the enamel organ, but does not become ameloblasts</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>26</string>
          <key>Question Title</key>
          <string> The temporalis muscle inserts into the:</string>
          <key>a</key>
          <string>Sphenoid bone.</string>
          <key>b</key>
          <string>Zygomatic arch.</string>
          <key>c</key>
          <string>Mandibular molars.</string>
          <key>d</key>
          <string>Coronoid process of the mandible.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a-  the sphenoid bone is an attachment for the medial and lateral pterygoid muscles 
b-  the zygomatic arch is part of the origin of the masseter muscle 
c-  muscles do not insert into teeth </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>27</string>
          <key>Question Title</key>
          <string>Energy production for the cell is accomplished through oxidation of nutrients in the:</string>
          <key>a</key>
          <string>Lysosomes.</string>
          <key>b</key>
          <string>Mitochondria.</string>
          <key>c</key>
          <string>Cell membrane.</string>
          <key>d</key>
          <string>Endoplasmic reticulum.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>B.</string>
          <key>rationale</key>
          <string>a- lysosomes contain digestive enzymes c-  the cell membrane controls the passage of substances into and out of the cell 
d-  endoplasmic reticulum forms an interconnected network of membranes </string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>28</string>
          <key>Question Title</key>
          <string>During which time of fetal development will cleft palate form?</string>
          <key>a</key>
          <string>Second trimester.</string>
          <key>b</key>
          <string>Weeks one through three.</string>
          <key>c</key>
          <string>Weeks six through twelve.</string>
          <key>d</key>
          <string>Early in the third trimester.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>C.</string>
          <key>rationale</key>
          <string>a-  most body systems are formed in the ﬁrst trimester 
b-  early layers of development are present by week three, including ectoderm, mesoderm and endoderm d- the palate is formed completely by the third trimester</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>29</string>
          <key>Question Title</key>
          <string>The action of the medial pterygoid muscle is to:</string>
          <key>a</key>
          <string>Elevate the mandible.</string>
          <key>b</key>
          <string>Depress the mandible.</string>
          <key>c</key>
          <string>Elevate the lip during a smile .</string>
          <key>d</key>
          <string>Elevate the hyoid bone during speech.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>A.</string>
          <key>rationale</key>
          <string>b-  the lateral pterygoid is the muscle of mastication that depresses the mandible 
c-  the medial pterygoid has no attachment to the upper lip 
d-  the medial pterygoid has no attachment to the hyoid bone in the neck</string>
    </dict>
    <dict>
          <key>Chapter Number</key>
          <string>6</string>
          <key>Chapter Title</key>
          <string>Ch 6. Oral/Dental Anatomy</string>
          <key>Question Number</key>
          <string>30</string>
          <key>Question Title</key>
          <string>Which of the following premolar teeth often has three cusps?</string>
          <key>a</key>
          <string>Maxillary ﬁrst premolar.</string>
          <key>b</key>
          <string>Mandibular ﬁrst premolar.</string>
          <key>c</key>
          <string>Maxillary second premolar.</string>
          <key>d</key>
          <string>Mandibular second premolar.</string>
          <key>e</key>
          <string></string>
          <key>f</key>
          <string></string>
          <key>g</key>
          <string></string>
          <key>answer</key>
          <string>D.</string>
          <key>rationale</key>
          <string>a-  the maxillary ﬁrst premolar has two cusps (buccal and lingual) 
b-  the mandibular ﬁrst premolar has two cusps (a functional buccal cusp and an “afunctional” lingual cusp) 
c-  the maxillary second premolar has two cusps (buccal and lingual) </string>
    </dict>
</array>
</plist>